[submodule "php/wp-content/plugins/ah-o2"]
	path = php/wp-content/plugins/ah-o2
	url = https://github.com/jazzsequence/WordPress-Admin-Help.git
[submodule "php/wp-content/plugins/benedict"]
	path = php/wp-content/plugins/benedict
	url = https://github.com/memuller/benedict_plugin.git
[submodule "php/wp-content/plugins/editor-experiments"]
	path = php/wp-content/plugins/editor-experiments
  url = https://github.com/avryl/editor-experiments.git
[submodule "php/wordpress"]
	path = php/wordpress
  url = https://github.com/WordPress/WordPress.git
[submodule "php/wp-content/themes/memuller"]
	path = php/wp-content/themes/memuller
	url = https://github.com/memuller/memuller_theme.git
[submodule "php/wp-content/themes/benedict"]
	path = php/wp-content/themes/benedict
	url = https://github.com/memuller/benedict_theme.git
